.logo-image{
    max-width: 130px
}

.form-check-label > input {
    position: inherit !important;
    opacity: inherit !important;
}

[data-status="Perdido"] {
    color: #fd5d93 !important;
}
[data-status="Atraso Crítico"] {
    color: #ff8d72 !important;
}



