{% extends "base-registration.html" %}
{% block head %}
{% load static %}
<link href="{% static 'assets/css/login.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="container h-100">
    <div class="content text-center">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="title">Logged out!</h4>
                        <img class="logo-image" src="/static/assets/img/logo_blank.png"
                             alt="" width="130" height="35">
                    </div>
                    <br>
                    <br>
                    <a href="{% url 'login'%}">Click here to login again.</a>
                    <br>
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


