<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/css/mdb.min.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet"/>
    <!-- CSS Files -->
    <link href="{% static 'assets/css/base-generic.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet"/>

    <script src="{% static 'assets/js/helper.js' %}"></script>

    {% block head %}
    {% endblock %}
</head>

<body class="">
<div class="wrapper ">
    {% block side_bar %}

    <div class="sidebar" data-color="green" data-background-color="white"
         data-image="../static/assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="" id="dashboard">
                    <a class="nav-link" href='{% url "dashboard" %}'>
                        <i class="tim-icons icon-chart-pie-36"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item" id="segments_information">
                    <a class="nav-link" href="{% url 'table_customer_info_analysis' %}">
                        <i class="tim-icons icon-bullet-list-67"></i>
                        <p>Segments Information</p>
                    </a>
                </li>
                 <li class="nav-item" id="upload_csv">
                    <a class="nav-link" href="{% url 'upload_customer_info_csv' %}">
                        <i class="tim-icons icon-cloud-upload-94"></i>
                        <p>Upload Data</p>
                    </a>
                </li>
                 <li class="nav-item" id="configuration_RFM">
                    <a class="nav-link" href="{% url 'config_rfm' %}">
                        <i class="tim-icons icon-settings"></i>
                        <p>Configuration RFM</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% endblock %}
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand">
                         <img class="logo-image" src="/static/assets/img/logo_blank.png"/>
                    </a>
<!--                    <a class="navbar-brand" image="/static/assets/img/logo_blank.png"></a>-->
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="dropdown nav-item">
                            <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <div class="notification d-none d-lg-block d-xl-block"></div>
                                <i class="tim-icons icon-sound-wave"></i>

                            </a>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                                <li class="nav-link"><a href="#" class="nav-item dropdown-item">Last updated: </a></li>
                                <li>
                                    <button class="btn btn-info " onclick="calculateSegments()">
                                        Calculate Segments
                                    </button>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <div class="photo">
                                    <i class="tim-icons icon-single-02"></i>
                                </div>
                                <b class="caret d-none d-lg-block d-xl-block"></b>
                            </a>
                            <ul class="dropdown-menu dropdown-navbar">
                                <li class="nav-link"><a href="javascript:void(0)"
                                                        class="nav-item dropdown-item">Profile</a></li>
                                <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="nav-link"><a href="/accounts/logout" class="nav-item dropdown-item">Log
                                    out</a></li>
                            </ul>
                        </li>
                        <li class="separator d-lg-none"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% block body %}
        {% endblock %}
        <footer class="footer">
            <div class="container-fluid">

                <div class="copyright float-right">
                    &copy;
                    <script>
              document.write(new Date().getFullYear())

                    </script>
                    , Lot Solutions.
                </div>
            </div>
        </footer>
    </div>
</div>

<!--   Core JS Files   -->
{% load static %}
<!--   Core JS Files   -->

<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!-- Chart JS -->
<script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/black-dashboard.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/js/mdb.min.js"></script>

<script src="{% static 'assets/js/base-generic.js' %}"></script>


{% block scripts %}
{% endblock %}

</body>

</html>