{% extends "base_generic.html" %}
{% block side_bar %}
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../static/assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Creative Tim
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'customers_rfm_csv' %}">
              <i class="material-icons">content_paste</i>
              <p>My Customers Info</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Simple Table</h4>
                            <p class="card-category"> Here is a subtitle for this table</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">

                                    <th>Customer ID</th>
                                    <th>Order Date</th>
                                    <th>Frequency</th>
                                    <th>Monetary</th>
                                    <th>Avg Monetary</th>
                                    <th>Recency</th>
                                    <th>First Purchase</th>
                                    <th>Avg Days Purchase</th>
                                    <th>Std. Dev. Purchase</th>
                                    <th>Score Frequency</th>
                                    <th>Score Monetary</th>
                                    <th>Segment</th>

                                    </thead>
                                    <tbody>
                                    {% for element in values %}
                                        <tr>
                                            <td>{{ element.customer_email }}</td>
                                            <td>{{ element.order_date }}</td>
                                            <td>{{ element.frequency }}</td>
                                            <td>{{ element.monetary }}</td>
                                            <td>{{ element.avg_monetary }}</td>
                                            <td>{{ element.recency }}</td>
                                            <td>{{ element.first_purchase }}</td>
                                            <td>{{ element.avg_days }}</td>
                                            <td>{{ element.std_dev_days }}</td>
                                            <td>{{ element.score_frequency }}</td>
                                            <td>{{ element.score_monetary }}</td>
                                            <td>{{ element.segment.title }}</td>

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}